[submodule "ext_lib/json"]
	path = ext_lib/json
	url = https://github.com/nlohmann/json.git
[submodule "ext_lib/googletest"]
	path = ext_lib/googletest
	url = https://github.com/google/googletest.git
